.linear-background{
    -fx-background-color: linear-gradient(to left, #FFFF99, #FFD95A);
}
.white-background{
    -fx-background-color: #fff;
}
.yellow-background{
    -fx-background-color: rgba(255, 217, 90, 0.9);
}

.transparent-background{
    -fx-background-color: rgba(0,0,0,0);
}

.label-shop{
    -fx-border-width: 0 5 5 0;
    -fx-border-color: #000;

}

.my-account{
    -fx-background-color:  #FFD95A;
    -fx-background-radius: 30 30 30 30 ;
}

.header{
    -fx-background-color: white;
    -fx-background-radius: 0 25 25 0;
}

.center{
    -fx-background-radius: 30;
    -fx-background-color: #fff;
}