
.card {
    -fx-background-radius: 20;
    -fx-background-color: #fff;
}

.shadow {
    -fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0.1), 10.0, 0.0, 0.0, 10.0);
}

.card:hover{
    -fx-opacity: 0.9;
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.5),5,0,0,0);
}